body {
    text-align: center;
    font-family: Verdana, sans-serif;
    line-height: 30px;
}

.template {
    display: none;
}

.form-control {
    outline: 0;
    border: 1px solid #ECECEC;
    width: 95%;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 14px;
}

.bp-autocomplete-dropdown {
    border: 1px solid #ececec;
    border-radius: 2px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    margin-top: -6px;
    background-color: #ffffff;
}

.bp-autocomplete-searching {
    font-size: 14px;
}

.bp-autocomplete-row {
    padding-left: 5px;
    color: #000000;
    margin-bottom: 4px;
}

.bp-autocomplete-selected-row, .bp-autocomplete-row:hover {
    background-color: lightblue;
    color: #ffffff;
}

.bp-ac {
    letter-spacing: 0.01em;
    font-size: 14px;
    margin: 0;
    height: 100%;
    text-align: left;
}
.bp-autocomplete-highlight {
    font-weight:bold;
    color: #0000FF;
}
