#mapHelper {
    position: fixed;
    right: 0;
    padding: 5px;
    background: white;
    border: 1px solid black;
    font-size: 12px;
    text-align: left;
}

#mapHelper #mapTitle {
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

#mapHelper a.active {
    font-weight: bold;
}

#mapHelperDone {
    text-align: center;
}

.helperStep {
    color: gray;
}

.helperStep button,
.helperStep .if-active {
    display: none;
}

.helperStep.active {
    color: black;
    font-weight: bold;
}

.helperStep.active button {
    display: inline;
    margin: 0 5px;
}

.helperStep.active .if-active {
    display: block;
}

.helperStep #territoryId {
    color: gray;
}

.helperStep #territoryId.clicked {
    color: black;
}