#crosshair-marker circle {
    fill: none;
    stroke-width:1;
}

.badge {
    color: white;
    font-weight: normal;
    margin: 0 10px;
    background-color: #bbb !important;
    float: left !important;
}

.badge.bgPoint .glyphicon,
.badge.fgPoint .glyphicon {
    margin-left: 5px;
}

#markers .bgPoint {
    stroke: #ff0000;
}

.badge.bgPoint .glyphicon {
    color: #ff0000;
}

#markers .fgPoint {
    stroke: #0000ff;
}

.badge.fgPoint .glyphicon {
    color: #0000ff;
}

#mapHelper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 500px;
    margin: 0;
    padding: 5px;
    background: white;
    font-size: 12px;
    text-align: left;
    overflow: auto;
}

#mapHelperDone {
    text-align: center;
}

#processTabs .processTitle.active {
    font-weight: bold;
}

#processTabs .processTitle a {
    cursor: pointer;
}

.helperStep {
    color: gray;
}

.helperStep {
    color: black;
}

.helperStep button {
    display: inline;
    margin: 0 5px;
}

.helperStep .section {
    position: relative;
    border: 1px dashed gray;
    padding: 5px 5px 50px;
}

.helperStep .section .title {
    font-weight: bold;
    display: block;
}

.helperStep li.calibrationPoint  {
    height: 42px;
}

.helperStep .removeCalibrationPoint,
.helperStep .editLocatedTerritory,
.helperStep .removeLocatedTerritory {
    float: right;
}

.helperStep #territoryId {
    color: gray;
}

.helperStep #territoryId.clicked {
    color: black;
}

.helperStep #locatedTerritories {
    margin-left: 10px;
}

.helperStep #locatedTerritories .locatedTerritory,
.helperStep #locatedTerritories #addTerritorySection {
    color: black;
    text-shadow: none;
}

.helperStep #locatedTerritories #addTerritorySection label[for^="territoryPeriod"] {
    display: block;
}

.helperStep #locatedTerritories .editLocatedTerritory,
.helperStep #locatedTerritories .removeLocatedTerritory {
    float: right;
    margin-left: 10px;
}

.helperStep #locatedTerritories .editTerritoryText {
    font-style: italic;
    text-align: center;
}

.helperStep #locatedTerritories .territoryName.hovered {
    font-weight: bold;
}