#crosshair-marker circle {
    fill: none;
    stroke-width:1;
}

.badge {
    color: white;
    font-weight: normal;
    margin: 0 10px;
    background-color: #bbb !important;
    float: left !important;
}

.badge.bgMap .glyphicon,
.badge.fgMap .glyphicon {
    margin-left: 5px;
}

#markers .bgMap {
    stroke: #ff0000;
}

.badge.bgMap .glyphicon {
    color: #ff0000;
}

#markers .fgMap {
    stroke: #0000ff;
}

.badge.fgMap .glyphicon {
    color: #0000ff;
}

#mapHelper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 500px;
    padding: 5px;
    background: white;
    border: 1px solid black;
    font-size: 12px;
    text-align: left;
    overflow: auto;
}

#mapHelper a.active {
    font-weight: bold;
}

#mapHelperDone {
    text-align: center;
}

.helperStep {
    color: gray;
}

.helperStep button,
.helperStep .if-active {
    display: none;
}

.helperStep.active {
    color: black;
    font-weight: bold;
}

.helperStep.active button {
    display: inline;
    margin: 0 5px;
}

.helperStep.active .if-active {
    display: block;
    font-weight: normal;
}

.helperStep .section {
    position: relative;
    border: 1px dashed gray;
    padding: 5px 5px 50px;
}

.helperStep .section .title {
    font-weight: bold;
    display: block;
}

.helperStep li.calibrationPoint  {
    height: 42px;
}

.helperStep .removeCalibrationPoint,
.helperStep .editLocatedTerritory,
.helperStep .removeLocatedTerritory {
    cursor: pointer;
    float: right;
}

.helperStep #territoryId {
    color: gray;
}

.helperStep #territoryId.clicked {
    color: black;
}

.helperStep #locatedTerritories {
    margin-left: 10px;
}

.helperStep #locatedTerritories .locatedTerritory,
.helperStep #locatedTerritories #addTerritorySection {
    color: black;
    text-shadow: none;
}

.helperStep #locatedTerritories #addTerritorySection label[for^="territoryPeriod"] {
    display: block;
}

.helperStep #locatedTerritories .editLocatedTerritory,
.helperStep #locatedTerritories .removeLocatedTerritory {
    margin-left: 10px;
    margin-right: 0;
}

.helperStep #locatedTerritories .editTerritoryText {
    font-style: italic;
    text-align: center;
}

/* Territory selection */
@keyframes hovered {
    0% {
        fill: rgb(0,198,0);
    }
    50% {
        fill: rgb(0,127,0);
    }
    100% {
        fill: rgb(0,198,0);
    }
}

.hovered,
.selected {
    mask: url(#mask-stripe) !important;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    fill-opacity: inherit !important;
}

.hovered {
    animation-name: hovered;
}

@keyframes selected {
    0% {
        fill: rgb(64,64,64);
    }
    50% {
        fill: rgb(128,128,128);
    }
    100% {
        fill: rgb(64,64,64);
    }
}

.selected {
    animation-name: selected;
}

@keyframes hovered-already-selected {
    0% {
        fill: rgb(64,64,64)
    }
    50% {
        fill: rgb(127,127,127);
    }
    100% {
        fill: rgb(64,64,64)
    }
}

.already-identified {
    fill: rgb(64,64,64) !important;
    mask: url(#mask-stripe) !important;
    animation-name: hovered-already-selected;
}