.subunit-label {
    fill: #777;
    fill-opacity: .5;
    font-size: 14px;
    font-weight: 300;
    text-anchor: middle;
}

.subunit-boundary {
    fill: none;
    stroke: #777;
    stroke-linejoin: round;
}

#bg{
    fill: none;
}

#map, #externalSvg, #markers {
    position: absolute;
}

#externalSvgTemplate {
    display: none;
}

#externalSvg * {
    pointer-events: none;
}

#externalSvg path[d$="z"] {
    pointer-events: all;
}

#externalSvg.onTop {
    z-index: 20;
}

#markers {
    pointer-events: none;
}

#markers .out-of-bounds {
    stroke-dasharray: 1;
}