.subunit-label {
    fill: #777;
    fill-opacity: .5;
    font-size: 14px;
    font-weight: 300;
    text-anchor: middle;
}

.subunit-boundary {
    fill: none;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

#map, #externalSvg, #resizeHandle {
    position: absolute;
    left: 200px;
}

.hovered {
    fill: red !important;
}

#resizeHandle rect {
    cursor: se-resize;
    fill:gray;
}