.subunit-label {
    fill: #777;
    fill-opacity: .5;
    font-size: 14px;
    font-weight: 300;
    text-anchor: middle;
}

.subunit-boundary {
    fill: none;
    stroke: #777;
    stroke-linejoin: round;
}

#bg{
    fill: none;
}

#map, #externalSvg, #markers {
    position: absolute;
}

#externalSvg.onTop {
    z-index: 20;
}

@keyframes hovered {
    0% {
        fill: rgb(0,198,0);
    }
    50% {
        fill: rgb(0,127,0);
    }
    100% {
        fill: rgb(0,198,0);
    }
}

.hovered {
    fill: rgb(0,198,0) !important;
    animation-name: hovered;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes selected {
    0% {
        fill: rgb(64,64,64);
    }
    50% {
        fill: rgb(128,128,128);
    }
    100% {
        fill: rgb(64,64,64);
    }
}

.selected {
    fill: rgb(64,64,64) !important;
    animation-name: selected;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}