/.idea/
/admin/.htaccess
/bin/
/build/
/cache/json/*.json
/cache/svg/*.svg
/cache/thumbnails/*.png
/composer.lock
/composer.phar
/geotime.log
/js/vendor/
/lib/doctrine/geotime.sqlite
/node_modules/
/test/phpunit/cache/
/vendor/