<div id="dragActionContainer" class="hidden"></div>

<div id="mapArea">
    <svg id="map" ng-width="{{ bgMapWidth }}" ng-height="{{ bgMapWidth }}">
        <rect id="bg" ng-width="{{bgMapWidth}}" ng-height="{{bgMapWidth}}"></rect>
    </svg>
    <svg id="markers" ng-width="{{ bgMapWidth }}" ng-height="{{ bgMapWidth }}">
    </svg>
</div>

<div id="mapHelper" class="panel panel-default">
    <div id="selectMap">
        <select class="form-control" id="maps" ng-model="mapFileName" ng-change="loadTerritoryMap(false)"></select>
        <!--<a href="javascript:void(0)" id="loadTerritoryMap">Load a random territory</a>-->
    </div>
    <ul id="processTabs" class="nav nav-tabs nav-justified">
        <li ng-repeat="process in processes" class="processTitle" ng-class="{active: isActiveProcess(process.name)}">
            <a ng-click="loadProcess(process.name)">{{process.text}}</a>
        </li>
    </ul>
    <div id="helperStepsContainer" class="list-group">
        <div ui-view="helperContent"></div>
    </div>
</div>