Located territories : <span id="locatedTerritoriesNumber">{{locatedTerritories.length}}</span>
<ul id="locatedTerritories" class="list-group">
    <li ng-repeat="(territoryIndex, locatedTerritory) in locatedTerritories" class="locatedTerritory list-group-item">
        <span class="territoryName">
            {{locatedTerritory.referencedTerritory.name}}
        </span>
        <span class="notLocated label label-danger" ng-class="{ hidden: locatedTerritory.xpath }">Not located</span>
        <span class="removeLocatedTerritory btn btn-xs btn-danger glyphicon glyphicon-remove" ng-click="removeTerritory(territoryIndex)"></span>
        <span class="editLocatedTerritory btn btn-xs btn-warning glyphicon glyphicon-pencil" ng-click="editTerritory(locatedTerritory)"></span>
    </li>
    <li id="addTerritorySection" class="list-group-item">
        <div class="editTerritoryText">
            Click on a territory on the map to identify it
            <br />
            Currently selected : <span id="territoryId" ng-class="{clicked: selectedTerritory}">{{ getCurrentTerritoryLabel() }}</span>
        </div>
        <div id="currentTerritory" ng-show="selectedTerritory != null">
            <div class="row">
                <div class="col-md-4">
                    <label for="territoryName">Territory</label>
                </div>
                <div class="col-md-8">
                    <angucomplete-alt
                        id="territoryName"
                        placeholder="Territory name"
                        selected-object="setReferencedCountryName"
                        remote-url="gateway.php"
                        remote-url-request-formatter="getRemoteUrlRequest"
                        title-field="name"
                        minlength="1"
                        input-class="form-control"
                        match-class="highlight"
                        initial-value="selectedTerritory.referencedTerritory.name">
                    </angucomplete-alt>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">had these borders</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="territoryPeriodStart">from</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" type="text" id="territoryPeriodStart" ng-model="selectedTerritory.startDate"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="territoryPeriodEnd">to</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" type="text" id="territoryPeriodEnd" ng-model="selectedTerritory.endDate" />
                </div>
            </div>

            <div class="clearfix">
                <input type="button" id="addTerritory" ng-click="addTerritory()" class="col-md-12 btn btn-success" value="Save"/>
            </div>

            <div class="clearfix">
                <input type="button" id="cancelTerritory" ng-click="cancelAddTerritory()" class="col-md-12 btn btn-default" value="Cancel"/>
            </div>
        </div>
    </li>
</ul>

<div class="clearfix">
    <input type="button" id="validateTerritories" ng-disabled="selectedTerritory != null" ng-click="validate()"
           class="col-md-2 pull-right btn btn-primary" value="Save"/>
</div>