<div class="editTerritoryText">
    Click on a territory on the map to identify it
    <br />
    Currently selected : <span id="territoryId">None</span>
</div>
<div id="currentTerritory" class="hidden">
    <div class="row">
        <div class="col-md-4">
            <label for="territoryName">Territory</label>
        </div>
        <div class="col-md-8">
            <input class="form-control" type="text" id="territoryName" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">had these borders</div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="territoryPeriodStart">from</label>
        </div>
        <div class="col-md-8">
            <input class="form-control" type="text" id="territoryPeriodStart" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="territoryPeriodEnd">to</label>
        </div>
        <div class="col-md-8">
            <input class="form-control" type="text" id="territoryPeriodEnd" />
        </div>
    </div>

    <div class="clearfix">
        <input type="button" id="addTerritory" class="col-md-12 btn btn-success" value="Save"/>
    </div>

    <div class="clearfix">
        <input type="button" id="cancelTerritory" class="col-md-12 btn btn-default" value="Cancel"/>
    </div>
</div>