<div id="mapHelper" ng-controller="HelperController" class="panel panel-default">
    <div id="selectMap">
        <select ng-options="map.fileName || map.label for map in maps"
                ng-model="currentMap"
                ng-change="loadTerritoryMap(false)"
                class="form-control"
                id="maps"
        ></select>
        <!--<a href="javascript:void(0)" id="loadTerritoryMap">Load a random territory</a>-->
    </div>
    <ul id="processTabs" ng-show="!!mapInfo" class="nav nav-tabs nav-justified">
        <li ng-repeat="process in processes" class="processTitle" ng-class="{active: process.name === activeProcess}">
            <a ng-click="loadProcess(process.name)">{{process.text}}</a>
        </li>
    </ul>
    <div id="helperStepsContainer" class="list-group">
        <div ui-view="helperContent"></div>
    </div>
</div>