<div id="mapArea" ng-controller="MapController" >
    <svg id="map" ng-width="{{ maps.background.width }}" ng-height="{{ maps.background.height }}" ng-show="maps.background.show">
        <rect id="bg" ng-width="{{maps.background.width}}" ng-height="{{maps.background.height}}"></rect>
    </svg>
    <svg id="markers" ng-width="{{ maps.background.width }}" ng-height="{{ maps.background.height }}" ng-controller="CalibrationMarkerController">
        <g class="marker-group bgPoint"></g>
        <g class="marker-group fgPoint"></g>
        <defs>
            <g id="crosshair-marker">
                <circle
                    ng-repeat="circle in circles"
                    style="stroke:{{ circle.color }}"
                    ng-cx="{{ markerSide }}"
                    ng-cy="{{ markerSide }}"
                    ng-r="{{ markerCircleRadius }}">
                </circle>
                <path
                    ng-repeat="line in lines"
                    id="{{ line.id }}"
                    ng-d="{{ line.d }}">
                </path>
            </g>
        </defs>
    </svg>
</div>